{% extends "base_without_nav.html" %}
{% load allauth i18n crispy_forms_tags %}
{% load static %}

{% block body_class %}about-body{% endblock %}

{% block head_title %}
{% trans "Signup" %}
{% endblock head_title %}

{% block content %}
<div class="form-container">
    <div class="form-box">

        {% element h1 %}
        {% trans "Sign Up" %}
        {% endelement %}

        {% setvar link %}
        <a href="{{ login_url }}">
            {% endsetvar %}
            {% setvar end_link %}
        </a>
        {% endsetvar %}
        {% element p %}
        {% blocktranslate %}Already have an account? Then please {{ link }}Log In {{ end_link }}.{% endblocktranslate %}
        {% endelement %}

        {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            {{ redirect_field }}
            <button type="submit" class="btn btn-success w-100 mt-3">
                {% trans "Sign Up" %}
            </button>
        </form>
        {% endif %}

        {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}

    </div>
</div>

<script src="{% static 'js/password_toggle.js' %}"></script>

{% endblock content %}